{{#if emailAvailable}}

<form class="form-signin" method="POST" action="/signup">

    <a href="/"><img class="mb-4" src="/assets/img/blogetB3.png" alt="bloget-logo" width="110" height="100"></a>
    <h1 class="h3 mb-3 font-weight-normal">Welcome to Bloget</h1>
    
    <h6 class="text-danger">{{error}}</h6>

    <label for="Email Address" class="sr-only">Email Address</label>
    <input type="text" class="form-control" name="emailAddress" id="emailAddress" value="{{emailAddress}}" readonly>

    <label for="Name" class="sr-only">Name</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="" value="{{name}}" autofocus="">

    <label for="Short Name" class="sr-only">Short Name</label>
    <input type="text" id="shortName" name="shortName" class="form-control" placeholder="Short Name" required="" value="{{shortName}}" autofocus="">

    <label for="Username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" value="{{username}}" required="" >

    <label for="Phone Number" class="sr-only">Phone Number</label>
    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Phone Number" value="{{phoneNumber}}" required="" >

    <label for="Password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control mb-0" placeholder="Password" required="">

    <label for="ConfirmPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required="">

    <button class="btn btn-lg btn-dark btn-block mt-3" type="submit">Sign up</button>

    <p class="mt-5 mb-3 text-muted">© Bloget 2020</p>
</form>

{{else if userInfoSaved}}

<form class="form-signin" method="POST" action="/finish" enctype="multipart/form-data">
    <img class="mb-4" src="/assets/img/blogetB3.png" alt="bloget-logo" width="110" height="100">

    <h1 class="h3 mb-3 font-weight-normal">Welcome to Bloget</h1>
    <h6 class="text-danger">{{error}}</h6>

    <input type="hidden" name="emailAddress" id="emailAddress" value="{{emailAddress}}">
    <input type="hidden" name="name" id="name" value="{{name}}">
    <input type="hidden" name="shortName" id="shortName" value="{{shortName}}">
    <input type="hidden" name="username" id="username" value="{{username}}">
    <input type="hidden" name="userId" id="userId" value="{{userId}}">
    <input type="hidden" name="phoneNumber" id="phoneNumber" value="{{phoneNumber}}">

    <label for="Profile Image" class="sr-only">Profile Image</label>
    <input type="file" id="profileImage" name="profileImage" class="form-control" placeholder="Profile Image" required="" autofocus="">

    <label for="Twitter" class="sr-only">Twitter</label>
    <input type="text" id="twitter" name="twitter" class="form-control" placeholder="Twitter handle" required="" autofocus="">

    <label for="Facebook" class="sr-only">Facebook</label>
    <input type="text" id="facebook" name="facebook" class="form-control" placeholder="Facebook" required="" autofocus="">

    <label for="LinkedIn" class="sr-only">LinkedIn</label>
    <input type="text" id="linkedIn" name="linkedIn" class="form-control" placeholder="LinkedIn" required="" autofocus="">

    <label for="Github" class="sr-only">Github</label>
    <input type="text" id="github" name="github" class="form-control" placeholder="Github" required="" autofocus="">

    <label for="Tagline" class="sr-only">Tag Line</label>
    <input type="text" id="tagline" name="tagline" class="form-control" placeholder="Tag Line" required="" autofocus="">

    <label for="About" class="sr-only">About Me</label>
    <textarea type="text" id="about" name="about" class="form-control" placeholder="About" rows="3"></textarea>

    <button class="btn btn-lg btn-dark btn-block mt-3" type="submit">Complete Sign up</button>

    <p class="mt-5 mb-3 text-muted">© Bloget 2020</p>
</form>

{{else if iForgot}}
    <form class="form-signin" method="POST" action="/iForgot">
        <img class="mb-4" src="/assets/img/blogetB3.png" alt="bloget-logo" width="110" height="100">
        <h1 class="h3 mb-3 font-weight-normal">Forgot Password ?</h1>
        <h6 class="text-danger">{{error}}</h6>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="emailAddress" name="emailAddress" class="form-control" placeholder="Email address"
            required="" autofocus="">

        <button class="btn btn-lg btn-dark btn-block mt-3" type="submit">Send Reset Email</button>
        <p class="mt-3">
            <a class="ml-2 float-left text-dark" href="/signin">Sign in</a>
            <a class="mr-2 float-right text-dark" href="/signup">Sign up</a>
        </p>
        <p class="mt-5 mb-3 text-muted">© Bloget 2020</p>
    </form>
{{else if signin}}
    <form class="form-signin" method="POST" action="/signin">
    <a href="/"><img class="mb-4" src="/assets/img/blogetB3.png" alt="bloget-logo" width="110" height="100"></a>
    <h1 class="h3 mb-3 font-weight-normal">Welcome to Bloget</h1>
    <h6 class="text-danger">{{error}}</h6>
    <label for="emailAddress" class="sr-only">Email address</label>
    <input type="email" id="emailAddress" name="emailAddress" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">

    <button class="btn btn-lg btn-dark btn-block" type="submit">Sign in</button>
        <p class="mt-3">
        <a class="ml-2 float-left text-dark" href="/iforgot">iForgot</a> 
        <a class="mr-2 float-right text-dark" href="/signup">Sign up</a>
        </p>
    <p class="mt-5 mb-3 text-muted">© Bloget 2020</p>
    </form>
{{else}}
<form class="form-signin" method="POST" action="/join">
    <a href="/"><img class="mb-4" src="/assets/img/blogetB3.png" alt="bloget-logo" width="110" height="100"></a>
    <h1 class="h3 mb-3 font-weight-normal">Welcome to Bloget</h1>
    <h6 class="text-danger">{{error}}</h6>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="emailAddress" name="emailAddress" class="form-control" placeholder="Email address"
        required="" autofocus="">

    <button class="btn btn-lg btn-dark btn-block mt-3" type="submit">Join</button>
    <p class="mt-3">
        <a class="ml-2 float-left text-dark" href="/iforgot">iForgot</a>
        <a class="mr-2 float-right text-dark" href="/signin">Sign in</a>
    </p>
    <p class="mt-5 mb-3 text-muted">© Bloget 2020</p>
</form>

{{/if}}

<script>
    $("#shortName").focus(function() {
        if ($("#shortName").val().trim().length < 1 ){
            $("#shortName").val($("#name").val().trim().split(" ")[0]);
        }
});
</script>