<div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/images/{{postImage}}');">
    </div>
    <div class="container">
        <div class="content-center">
            <h3 class="bd-title">{{postTitle}}</h3>

            <div class="text-center">
                <a href="https://www.facebook.com/" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a href="https://www.twitter.com/" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/" class="btn btn-primary btn-icon btn-round" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row content-center">
            <div class="card card-login card-plain">
                <h3>{{name}} <small class="text-muted">{{#formatDate createdAt}} {{/formatDate}}</small></h3>
                <hr>
                <p class="bd-lead font-italic border-bottom">{{postDescription}}</p>
                <hr>
                {{{postBody}}}
            </div>
        </div>
    </div>
</div>