<main role="main" class="container">
  <div class="row pt-2">
    <div class="col-md-8 blog-main">
      <input type="hidden" id="postId" value="{{postId}}" />
      <input type="hidden" id="postAuthorUserId" value="{{postAuthorUserId}}" />
      {{#if message}}
      <p>{{message}}</p>
      {{else}}
      <div class="blog-post">
        <h2 class="blog-post-title">{{postTitle}}</h2>
        <img class="mt-2 mb-2" src="{{postImage}}" style="width: 100%;">
        <p class="blog-post-meta">{{#formatDate createdAt}} {{/formatDate}} by <a
            href="/profile/{{postAuthorUsername}}">{{postAuthorName}}</a></p>

        {{{postBody}}}

        <p class="float-right">
          {{#unless isOwner}}
          {{#unless saved}}
          <span id="savePost" class="mr-3 pointer" data-toggle="tooltip" data-placement="bottom" title="Save post"
            onclick="reactTo(`post`,`save`, `{{postId}}`)"><i class="far fa-save fa-2x mr-2"></i>
          </span>
          {{else}}
          <span id="unsavePost" class="mr-3 pointer" data-toggle="tooltip" data-placement="bottom" title="Unsave post"
            onclick="reactTo(`post`,`unsave`, `{{savedPostId}}`)"><i class="fas fa-save fa-2x mr-2"></i>
          </span>
          {{/unless}}
          {{/unless}}
          <span id="thumbsUp" class="mr-2 pointer" data-toggle="tooltip" data-placement="bottom" title="Like post"
            onclick="reactTo(`post`,`like`, `{{postId}}`)">
          {{#if likedByUser}}
            <i class="fas fa-thumbs-up fa-2x mr-2"></i>
          {{else}}
            <i class="far fa-thumbs-up fa-2x mr-2"></i>
          {{/if}}
            <small class="likesCount text-success">{{likesCount}}</small>
          </span>
          <span id="thumbsDown" class="pointer" data-toggle="tooltip" data-placement="bottom" title="Dislike post"
            onclick="reactTo(`post`,`dislike`, `{{postId}}`)">
            <i class="far fa-thumbs-down fa-2x mr-2"></i>
            <small class="dislikesCount text-danger mr-2">{{dislikesCount}}</small>
          </span>
          <span id="banIcon" class="pointer" data-toggle="tooltip" data-placement="bottom" title="Report post"
            onclick="openReportModal(`post`,`{{postId}}`,`{{postAuthorUserId}}`)">
            <i class="fas fa-ban fa-2x text-danger mr-2"></i>
          </span>
        </p>

      </div><!-- /.blog-post -->

      <div class="blog-post mb-4" id="subscribeSection">
        <h4>Subscribe to more posts from {{postAuthorShortName}}</h4>
        <form class="form-inline" novalidate>
          <label class="sr-only" for="subscriberEmail">Email Address</label>
          <input type="email" class="form-control mb-2 mr-sm-2 w-50" name="subscriberEmail" id="subscriberEmail" placeholder="Email address" required>
          {{#if errors}}
          {{#each errors}}
          {{#ifEquals param "subscriberEmail"}}
          <div id="subscriberEmailError" class="messages text-danger font-weight-bold">{{msg}}</div>
          {{/ifEquals}}
          {{/each}}
          {{/if}}
          <button type="button" class="btn btn-secondary mb-2"
            onclick="subscribeToUser(`{{postAuthorUserId}}`)">Subscribe</button>
        </form>
        <p id="subscriberEmailError" class="messages text-danger font-weight-bold"></p>
      </div><!-- /.blog-post -->

      <p class="text-danger postActionResponse"></p>
      <h4>Comments</h4>
      <div id="commentSection" class="blog-post mb-4">

        {{#unless Comments}}
          <p>No user has commented on this post for now.</p>
        {{/unless}}
        {{#each Comments}}
        <div class="card mb-2">
          <div class="card-body">
            <input type="hidden" id="commentByUserId" value="{{commentByUserId}}" />
            <input type="hidden" id="commentId" value="{{commentId}}" />
            <div class="row">
              <div class="col-2 pr-0">
                <img class="rounded-circle profileThumbnail" src="{{commentByUserProfileImage}}" />
              </div>
              <div class="col-10 pl-0 pt-2">
                <h4 class="mb-0"><a class="text-dark" href="/profile/{{commentByUserId}}">{{commentBy}}</a></h4>
                <h6 class="mb-0">{{#formatDateTime createdAt}} {{/formatDateTime}}</h6>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-12">
                <p class="mb-1">{{commentBody}}</p>
              </div>
            </div>
            <p class="float-left mb-0">
              <span id="commentThumbsUp" class="pointer" data-toggle="tooltip" data-placement="bottom" title="vote up"
                onclick="reactTo(`{{counter @index}}`,`comment`,`like`, `{{commentId}}`)">
                {{#if likedByUser}}
                  <i id="thumbsUp{{counter @index}}" class="fas fa-thumbs-up mr-2"></i>
                {{else}}
                  <i id="thumbsUp{{counter @index}}" class="far fa-thumbs-up mr-2"></i>
                {{/if}}
                <small class="commentLikesCount text-success mr-2">{{likesCount}}</small>
              </span>
              <span id="commentThumbsDown" class="pointer" data-toggle="tooltip" data-placement="bottom"
                title="vote down" onclick="reactTo(`{{counter @index}}`,`comment`,`dislike`, `{{commentId}}`)">
                {{#if dislikedByUser}}
                  <i id="thumbsDown{{counter @index}}" class="fas fa-thumbs-down mr-2"></i>
                {{else}}
                  <i id="thumbsDown{{counter @index}}" class="far fa-thumbs-down mr-2"></i>
                {{/if}}
                <small class="commentDislikesCount text-danger mr-2">{{dislikesCount}}</small>
              </span>
              <span id="reportComment" class="pointer" data-toggle="tooltip" data-placement="bottom"
                title="report comment" onclick="openReportModal(`comment`,`{{commentId}}`, `{{commentByUserId}}`)">
                <i class="fas fa-ban text-danger"></i>
              </span>
            </p>
          </div>
        </div>
        {{/each}}
      </div>

      <div class="blog-post mb-2">
        <div id="newCommentBox" class="d-none">
          <h4>Lets hear from you</h4>
          <form class="form-row" id="newCommentForm">
            <textarea class="ml-1 mr-1 w-100" name="commentBody" id="commentBody" rows="4"></textarea>
            <p class="pl-1 text-danger btn-block mb-0" id="commentsBoxErrors"></p>
            <p class="float-right mt-3 pl-1">
              <button type="button" class="btn btn-sm btn-outline-dark mr-2" onclick="postComment(`{{postId}}`)">Comment</button>
              <button type="button" id="hideNewCommentBox" class="btn btn-sm btn-outline-danger">Cancel</button>
            </p>
          </form>
        </div>
        <p class="text-danger d-none commentSignin">You have to be signed in to comment on a post</p>
        <p class="mt-3 d-none commentSignin"><a type="button" href="/signin" class="btn btn-outline-dark btn-block">Click here to sign in</a></p>
        <p class="mt-3" id="showNewCommentBox"><button class="btn btn-outline-dark btn-block">Comment on this post</button></p>
      </div>

      {{/if}}
    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About {{postAuthorShortName}}</h4>
        <p class="mb-0">{{postAuthorAbout}}</p>
        {{#unless following}}
        <input type="button" class="btn btn-secondary followButton mt-2" onclick="followUser(`{{postAuthorUsername}}`)"
          value="Follow" />
        {{else}}
        <input type="button" class="btn btn-outline-secondary followButton mt-2" value="Following" />
        {{/unless}}
      </div>

      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">Share Post</h4>
        <div class="button-container">
            <button class="btn btn-icon btn-round btn-facebook social-share facebook"
                style="height: 3rem;width: 3rem;">
                <i class="fab fa-facebook fa-2x"></i>
            </button>
            <button class="btn btn-icon btn-round btn-twitter social-share twitter"
                style="height: 3rem;width: 3rem;">
                <i class="fab fa-twitter fa-2x"></i>
            </button>
            <button class="btn btn-icon btn-round btn-linkedin social-share linkedin"
                style="height: 3rem;width: 3rem;">
                <i class="fab fa-linkedin fa-2x"></i>
            </button>
        </div>
      </div>


      <div class="p-4">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Find {{postAuthorShortName}} elsewhere</h4>
        <p class="mt-2">
          <span class="mr-2"> <a class="text-dark" href="https://www.facebook.com/{{postAuthorFacebook}}"
              target="_blank"><i class="fab fa-facebook fa-2x"></i></a></span>
          <span class="mr-2"> <a class="text-dark" href="https://www.linkedin.com/in/{{postAuthorLinkedIn}}"
              target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></span>
          <span class="mr-2"> <a class="text-dark" href="https://www.twitter.com/{{postAuthorTwitter}}"
              target="_blank"><i class="fab fa-twitter fa-2x"></i></a></span>
          <span class="mr-2"> <a class="text-dark" href="https://www.github.com/{{postAuthorGithub}}" target="_blank"><i
                class="fab fa-github fa-2x"></i></a></span>
        </p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Follow {{postAuthorShortName}}</h4>
        {{#unless following}}
        <input type="button" class="btn btn-secondary followButton mt-2" onclick="followUser(`{{postAuthorUsername}}`)"
          value="Follow" />
        {{else}}
        <input type="button" class="btn btn-outline-secondary followButton mt-2" value="Following" />
        {{/unless}}
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->



  {{!-- Start Report Modal --}}
  <div class="modal blurModalBg" id="reportModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-weight-bold text-danger" id="reportModalLabel">
            <i class="fas fa-exclamation-circle text-danger mr-3"></i><span id="reportModalTitle"></span></h5>
        </div>
        <div class="modal-body d-none" id="reportMessageBody"></div>
        <form class="form" id="reportForm" method="POST" action="/api/report" novalidate>
          <h6 class="text-danger">{{error}}</h6>
          <div id="reportModalBody" class="modal-body pt-0">
            <div class="d-block my-3">
              {{#if errors}}
              {{#each errors}}
              {{#ifEquals param "reportedFor"}}
              <div class="messages text-danger font-weight-bold">{{msg}}</div>
              {{/ifEquals}}
              {{#ifEquals param "reportedPostId"}}
              <div class="messages text-danger font-weight-bold">{{msg}}</div>
              {{/ifEquals}}
              {{/each}}
              {{/if}}
              {{#if errors}}
              {{#each errors}}
              {{#ifEquals param "reportedFor"}}
              <div class="messages text-danger font-weight-bold">{{msg}}</div>
              {{/ifEquals}}
              {{#ifEquals param "reportedCommentId"}}
              <div class="messages text-danger font-weight-bold">{{msg}}</div>
              {{/ifEquals}}
              {{/each}}
              {{/if}}
              <div class="custom-control custom-radio">
                <input id="spam" name="reportedFor" type="radio" class="custom-control-input" value="Spam" checked=""
                  required="">
                <label class="custom-control-label" for="spam">Spam</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="harrassment" name="reportedFor" type="radio" class="custom-control-input" value="Harrassment"
                  required="">
                <label class="custom-control-label" for="harrassment">Harrassment</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="ruleViolation" name="reportedFor" type="radio" class="custom-control-input"
                  value="Rule Violation" required="">
                <label class="custom-control-label" for="ruleViolation">Rule Violation</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="plagiarism" name="reportedFor" type="radio" class="custom-control-input" value="Plagiarism"
                  required="">
                <label class="custom-control-label" for="plagiarism">Plagiarism</label>
              </div>
            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="blockUserCheckbox" id="blockUserCheckbox"
                value=false />
              <label class="custom-control-label" for="blockUserCheckbox">Block User</label>
              <input type="hidden" name="blockedUserId" id="blockedUserId" value="" />
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal"
              onclick="dismissReportModal()">Close</button>
            <button type="button" class="btn btn-outline-secondary" id="reportBtn">Report</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  {{!-- End Report Modal --}}

</main>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

  function reactTo(index, reactTo, reaction, reactToId) {
    var reVal = reaction;
    fetch(`/api/react/${reactTo}/${reaction}/${reactToId}`).then(response => response.json())
      .then((data) => {

        if (!data.response) {
          var postId = $("#postId").val();
          if (reactTo === 'post' && reaction === 'save') {
            $('#savePost').html('<i class="fas fa-save fa-2x mr-2"></i>');
            $('#savePost').attr('onclick', "reactTo(`post`, `unsave`, `" + data.savedPostId + "`)");
            $('#savePost').attr('title', 'Unsave post');
          }

          if (reactTo === 'post' && reaction === 'unsave') {
            $('#savePost').html('<i class="far fa-save fa-2x mr-2"></i>');
            $('#savePost').attr('onclick', "reactTo(`post`, `save`, `" + postId + "`)");
            $('#savePost').attr('title', 'Save post');
          }

          if (reactTo === 'post' && reaction === 'like') {
            $('.likesCount').text(data.likesCount);
            $('.dislikesCount').text(data.dislikesCount);
            $('#thumbsUp').addClass('text-danger');
            $('#thumbsDown').removeClass('text-danger');
          }

          if (reactTo === 'post' && reaction === 'dislike') {
            $('.likesCount').text(data.likesCount);
            $('.dislikesCount').text(data.dislikesCount);
            $('#thumbsUp').removeClass('text-danger');
            $('#thumbsDown').addClass('text-danger');
          }

          if (reactTo === 'comment' && reaction === 'like') {
            $('.commentLikesCount').text(data.likesCount);
            $('.commentDislikesCount').text(data.dislikesCount);
            //$('#commentThumbsUp').addClass('text-danger');
            $('#commentThumbsDown').removeClass('text-danger');
            $('#thumbsUp' + index).removeClass('far').addClass('fas');
            $('#thumbsDown' + index).addClass('far').removeClass('fas');
          }

          if (reactTo === 'comment' && reaction === 'dislike') {
            $('.commentLikesCount').text(data.likesCount);
            $('.commentDislikesCount').text(data.dislikesCount);
            $('#commentThumbsUp').removeClass('text-danger');
            //$('#commentThumbsDown').addClass('text-danger');
            $('#thumbsDown' + index).removeClass('far').addClass('fas');
            $('#thumbsUp' + index).addClass('far').removeClass('fas');
          }

        } else {
          $('.postActionResponse').text(data.response);
        }
      }).catch((error) => {
        console.error('Error:', error);
      });
  }

  function followUser(username) {
    fetch(`/api/follow/${username}`).then(checkError)
      .then((data) => {
        $('.followButton').attr('onclick', '');
        $('.followButton').val('Following');
        $('.followButton').removeClass('btn-secondary').addClass('btn-outline-secondary');
      }).catch((err) => {
        console.error(err);
      });
  }

  $('#showNewCommentBox').click(() => {
    if (isAuthenticated()) {
      $('#newCommentBox').removeClass('d-none');
      $('#showNewCommentBox').addClass('d-none');
    } else {
      $('.commentSignin').removeClass("d-none");
      $('#showNewCommentBox').addClass("d-none");
    }
  });

  $('#hideNewCommentBox').click(() => {
    $('#newCommentBox').addClass('d-none');
    $('#showNewCommentBox').removeClass('d-none');
    $('#commentsBoxErrors').text("");
  });

  function postComment(postId) {
    if ($('#commentBody').val().trim().length > 2) {
      fetch(`/api/post/newcomment/${postId}`,
        {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ commentBody: $('#commentBody').val() }),
        }
      ).then(response => response.json())
        .then((data) => {
          if (data.response) {
            console.log("Error");
            $('#commentsBoxErrors').text(data.response);
            return;
          } 
            var html = `<div class="card mb-2">
            <div class="card-body">
                <div class="row">
                  <div class="col-2 pr-0">
                    <img class="rounded-circle profileThumbnail" src="${data.User.profileImage}" />
                  </div>
                  <div class="col-10 pl-0 pt-2">
                    <h4 class="mb-0"><a href="/profile/${data.UserUserId}" class="text-dark">${data.User.name}</a> </h4>
                    <h6 class="mb-0">${moment(data.createdAt).format('MM/DD/YYYY HH:mm a')}</h6>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-12">
                    <p class="mb-1">${data.commentBody}</p>
                  </div>
                </div>
                <p class="float-left mb-0">
                  <span id="commentThumbsUp" class="pointer" data-toggle="tooltip" data-placement="bottom" title="vote up" onclick="reacTo('comment', 'like', ${data.commentId} )">
                    <i class="far fa-thumbs-up mr-2"></i><small class="commentLikesCount text-success mr-2">${data.likesCount}</small>
                  </span>
                  <span id="commentThumbsDown" class="pointer" data-toggle="tooltip" data-placement="bottom" title="vote down" onclick="reacTo('comment', 'dislike', ${data.commentId} )">
                    <i class="far fa-thumbs-down mr-2"></i><small class="commentDislikesCount text-success mr-2">${data.dislikesCount}</small>
                  </span>
                </p>
              </div>
            </div>`;

            $('#commentSection').prepend(html);
            $('#newCommentBox').addClass('d-none');
            $('#showNewCommentBox').removeClass('d-none');
      

        }).catch((err) => {
          console.error(err);
        });
    } else {
      $('#commentsBoxErrors').text("Comment too short.");
    }

  }

  function subscribeToUser(userId) {
    fetch(`/api/subscribe/user/${userId}`,
      {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ subscriberEmail: $('#subscriberEmail').val() }),
      }
    ).then(response => response.json())
      .then((data) => {
        if (data.subscriberEmailError){
          $('#subscriberEmailError').text('Please enter an email');
        } else {
          $('#subscribeSection').html('<h5 class="text-danger">' + data.response + '</h5>');
        }
        
      }).catch((error) => {
        console.error('Error:', error);
      });
  }

  function openReportModal(reported, reportedId, reportedUserId) {
    $('#reportModal').modal({
      backdrop: false
    });
    if(reported === "comment"){
      $("#reportModalTitle").text("Report Comment");
    } else {
      $("#reportModalTitle").text("Report Post");
    }
    $('#reportModal').modal('show');
    $("#reportMessageBody").addClass('d-none');
    $("#reportModalBody").removeClass('d-none');
    $('#reportBtn').attr('onclick', 'report(`' + reported + '`,`' + reportedId + '`,`' + reportedUserId + '`)');
  }

  $('input[name=\'blockUserCheckbox\']').on('change', function () {
    $(this).val(this.checked ? true : false);
    if (this.checked === true) {
      $('#blockedUserId').val($('#postAuthorUserId').val().trim());
    } else {
      $('#blockedUserId').val('');
    }
  });

  function dismissReportModal() {
    $("#reportMessageBody").removeClass('d-none');
    $("#reportModalBody").addClass('d-none');
  }

  function report(reported, reportedId, reportedByUserId) {
    var reportData = {
      reported: reported,
      reportedFor: $("input[name='reportedFor']:checked").val(),
      blockUser: ($('#blockUserCheckbox').val() === "true" ? true : false),
      reportedId: reportedId
    }

    if ($('#blockUserCheckbox').val() === "true") {
      reportData.blockedUserId = reportedByUserId;
    }
    console.log(reportData);
    fetch('/api/report',
      {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(reportData),
      }).then(response => response.json())
      .then((data) => {
        $("#reportMessageBody").html("<h5>" + data.response + "</h5>");
        $("#reportMessageBody").removeClass('d-none');
        $("#reportModalBody").addClass('d-none');
      }).catch((error) => {
        console.error('Error:', error);
      });
  }

      function SetNewSize(textarea) {
        textarea.style.height = "0px";
        textarea.style.height = textarea.scrollHeight + "px";
    }

    setShareLinks();

    function socialWindow(url) {
        var left = (screen.width - 570) / 2;
        var top = (screen.height - 570) / 2;
        var params = "menubar=no,toolbar=no,status=no,width=570,height=570,top=" + top + ",left=" + left;
        // Setting 'params' to an empty string will launch
        // content in a new tab or window rather than a pop-up.
        // params = "";
        window.open(url, "NewWindow", params);
    }

    function setShareLinks() {
        var postUrl = "http://bloget.herokuapp.com/post/" + $('#postId').val() + "/v2";
        var pageUrl = encodeURIComponent(postUrl);
        //var tweet = encodeURIComponent($('meta[name="description"]').attr("content"));
        var tweet = encodeURIComponent($('#socialMessage').val());

        $(".social-share.facebook").on("click", function () {
            url = "https://www.facebook.com/sharer.php?u=" + pageUrl;
            socialWindow(url);
        });

        $(".social-share.twitter").on("click", function () {
            url = "https://twitter.com/intent/tweet?url=" + pageUrl + "&text=" + tweet;
            socialWindow(url);
        });

        $(".social-share.linkedin").on("click", function () {
            url = "https://www.linkedin.com/shareArticle?mini=true&url=" + pageUrl;
            socialWindow(url);
        });
    }

</script>