<div class="row mt-3 mb-3">

    <div class="col-md-5"><img class="img-fluid mx-auto profileImage" src="{{profileImage}}" /></div>

    <div class="col-md-7">
        <h3 class="display-4">{{name}}</h3>
        <h6>{{#if loggedinUser}} @{{loggedinUser}} {{else}} @{{username}} {{/if}}</h6>
        <p class="lead">{{tagline}}</p>
        <p>{{about}}</p>
        <h6>Member Since: {{#formatDate memberSince}} {{/formatDate}}</h6>
        <p class="mt-5"> 
            <span class="mr-2"> <a class="text-dark" href="https://www.facebook.com/{{facebook}}" target="_blank"><i class="fab fa-facebook fa-2x"></i></a></span> 
            <span class="mr-2"> <a class="text-dark" href="https://www.linkedin.com/in/{{linkedIn}}" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></span> 
            <span class="mr-2"> <a class="text-dark" href="https://www.twitter.com/{{twitter}}" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></span>
            <span class="mr-2"> <a class="text-dark" href="mailto:{{emailAddress}}"><i class="fas fa-envelope fa-2x"></i></a></span>
        </p>
    </div>

</div>
<hr class="bloget-divider">

<ul class="nav nav-tabs mb-1" role="tablist">
  <li class="nav-item"><a class="nav-link lead font-weight-bold text-dark active" id="posts-tab" data-toggle="tab" href="#posts" aria-controls="posts" aria-selected="true">Posts</a></li>
  <li class="nav-item"><a class="nav-link lead font-weight-bold text-dark" id="drafts-tab" data-toggle="tab" href="#drafts" aria-controls="drafts" aria-selected="false">Drafts</a></li>
</ul>


{{!-- <p class="display-4 font-weight-bold">Posts</p> --}}
<div class="tab-content">
  <div id="posts" class="tab-pane fade show active" role="tabpanel" aria-labelledby="posts-tab">

    {{#each Posts}} {{#if published}}
      <div class="row mb-2">
        <div class="col-md-12">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">{{postCategory}}</strong>
              <h3 class="mb-0">{{postTitle}}</h3>
              <div class="mb-1 text-muted">{{#formatDate createdAt}} {{/formatDate}}</div>
              <p class="card-text mb-auto">{{postDescription}}</p>
              <small class="form-text text-muted">Viewed {{viewCount}} times</small>
              <p class="mb-0">
                <span class="mr-2"> <a class="text-success" href="/post/{{postId}}"><i class="fas fa-binoculars fa-2x"></i></a></span>
                <span class="mr-2"> <a class="text-secondary" href="/post/unpublish/{{postId}}"><i class="fas fa-download fa-2x"></i></a></span>
                <span class="mr-2"> <a class="text-secondary" href="/post/edit/{{postId}}"><i class="fas fa-edit fa-2x"></i></a></span>
                <span class="mr-1"> <a class="text-danger" href="/post/delete/{{postId}}"><i class="fas fa-trash-alt fa-2x"></i></a></span>
              </p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="{{postImage}}" style="height: 250px; width: 350px;" />
            </div>
          </div>
        </div>
      </div>
      {{!-- {{else}}
        <p> This user has no posts yet. </p> --}}
      {{/if}}
    {{/each}}
  </div>

  <div id="drafts" class="tab-pane fade" role="tabpanel" aria-labelledby="drafts-tab">        
    {{#each Posts}} {{#if isDraft}}
    <div class="row mb-2">
        <div class="col-md-12">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">{{postCategory}}</strong>
              <h3 class="mb-0">{{postTitle}}</h3>
              <div class="mb-1 text-muted">{{#formatDate createdAt}} {{/formatDate}}</div>
              <p class="card-text mb-auto">{{postDescription}}</p>
              <p class="mb-0">
                <span class="mr-2"> <a class="text-success" href="/post/{{postId}}"><i class="fas fa-binoculars fa-2x"></i></a></span>
                <span class="mr-2"> <a class="text-secondary" href="/post/publish/{{postId}}"><i class="fas fa-upload fa-2x"></i></a></span>
                <span class="mr-2"> <a class="text-secondary" href="/post/edit/{{postId}}"><i class="fas fa-edit fa-2x"></i></a></span>
                <span class="mr-1"> <a class="text-danger" href="/post/delete/{{postId}}"><i class="fas fa-trash-alt fa-2x"></i></a></span>
              </p>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="{{postImage}}" style="height: 250px;" />
            </div>
          </div>
        </div>
    </div>
  {{/if}}
  {{/each}}
  </div>



</div>